[Desktop Entry]
Type=Application
Exec=gnome-terminal --geometry=145x30+80+80 -x /home/cambricon/start_utp.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=startup_utp
Name=startup_utp
Comment[en_US]=AutoRun
Comment=AutoRun
